
body {
    max-width: 850px;
    margin: 0 auto;
}

nav {
    font-size: 1.3em;
}

.stock-balance {
    margin-left: 10px;
    margin-right: 30px;
    grid-template-rows: 80px 90px;
    grid-template-columns: 25% 25% 25% 25%;
    grid-row-gap: 30px;
    grid-gap: 5px;
    grid-template-areas: 
        "ipt ipt dis dis"
        "btn btn btn btn";
}

.stock-balance button {
    grid-area: btn;
    font-size: 1.5em;
}

.stock-balance input {
    grid-area: ipt;
    margin: 0;
    padding: 1em;
    font-size: 1.5em;
}

.stock-balance span {
    grid-area: dis;
    font-size: 1.7em;
}

.draw-table {
    margin-top: 10px;
}

th,
td {
    font-size: 1.2em;
}

/* modal and overlay */
.add-modal,
.remove-modal {
    width: 500px;
}

.add-modal div,
.remove-modal div {
    display: flex;
}

.add-modal label,
.remove-modal label {
    font-size: 20px;
    width: 40%;
    text-align: left;
}

.add-modal input,
.remove-modal input {
    padding: 1em;
    width: 60%;
}

.add-modal button,
.remove-modal button {
    padding: 1em;
    font-size: 18px;
}
