
body{

    background-color: #eee;
    margin-top: 120px;
}

/*#02194b*/
.navbar-brand{

    margin: 0.5em;
    font-size: 1.5em;
    color: #02194b;
}


nav{

    font-weight: 600;
    font-size: 1.2em;
}



#btnAdd{

    color: green;
    display: none;
}


.dropdown-item{

    font-weight: 600;
}


#sdisplay{

    color: red;
}


#sbal{

    background-color: inherit;
    color: green;
    border: none;
}


.row{

    margin-top: 1em;
}


.add-entry{

    width: 50px;
    border-radius: 50%;
    padding: 0px 0px 30px 0px;
    font-size: 1.8em;
    background-color: #02194b;
    color: white;
}


#showError,
#showError2{

    margin-left: 1em;
    color: red;
}


.btn{
    
    font-weight: 700;
    cursor: pointer;
    height: 50px;
    border: 2px solid #02194b;
}


.btn:hover,
.btn.hover{

    background-color: green;
}


input{
    
    font-weight: 700;
}

table{

    margin-top: 20px;
}

thead{

    background-color: skyblue;
}


tbody{

    font-weight: 700;
}


#foota{

    background-color: black;
    color: white;
    font-size: 1em;
    font-weight: 300;
    font-style: italic;
}

.profile{

    font-size: 1.5em;
}

.profile:hover,
.profile.hover{

    text-decoration: none;
}